.google-logo {
    height: 104px;
    width: 464px;
    display: block;
    margin-bottom: 1px;
    object-fit: contain;
    object-position: center;
    margin: auto;
    margin-top: 80px;
}

.search-google-bar {
    font-size: 16px;
    width: 600px;
    border-style: solid;
    border-radius: 20px;
    border-width: 1px;
    border-color: rgb(200, 200, 200);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 1px 1px 10px rgba(190, 190, 190, 0.527);
    display: block;
    margin-top: 1px;
    line-height: 2px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 0px;
}

.search-google-bar:focus {
    outline: none;
}


.div-google-search-buttons {
    height: 70px;
    width: 360px;
    margin-left: 0px;
    margin-right: 0px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block
}

.center-div {
    height: 70px;
    width: 360px;
    margin: auto;
    display: block;
}



.google-search, .im-feeling-lucky {
    background-color: rgb(230, 230, 230);
    height: 40px;
    width: 160px;
    font-family: Arial;
    font-size: 15px;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 4px;
    margin-top: 15px;
    margin-bottom: 15px;
    line-height: 27px;
    transition: 0.1s;
}

.google-search:hover, .im-feeling-lucky:hover {
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.300);
}

.google-search:active, .im-feeling-lucky:active {
    border-color: rgb(0, 132, 255);
    border-width: 1.5px;
}

.google-lang {
    height: 50px;
    width: 570px;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.google-offered-in {
    color: rgb(31, 0, 167);
    font-family: Arial;
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    cursor: pointer;
}

.hyperlink {
    text-decoration: none;
    color: rgb(46, 46, 182);
    margin-left: 5px;
}

.hyperlink:hover {
    text-decoration: underline;
}